# ----------------------
# Flask
# ----------------------
Flask==1.1.1
pandas
numpy
seaborn
matplotlib
pickle-mixin
sklearn
wordcloud
joblib
Pillow
gunicorn==20.1.0


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
