<form id="form">
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">
        <input class="bg-gray-200 focus:outline-none rounded-md w-full px-3 py-3" type="text" placeholder="Job Title"
            id="jobtitle">
        <input class="bg-gray-200 focus:outline-none rounded-md w-full px-3 py-3" type="text" placeholder="Location"
            id="location">
        <input class="bg-gray-200 focus:outline-none rounded-md w-full px-3 py-3" type="text" placeholder="Industry"
            id="industry">
        <input class="bg-gray-200 focus:outline-none rounded-md w-full px-3 py-3" type="text" placeholder="Company Name"
            id="companyname">
    </div>
    <div class="mt-14 flex justify-center">
        <button
            class="w-full md:w-1/4 focus:outline-none shadow px-12 py-4 text-lg font-medium rounded-lg text-white bg-indigo-600 hover:bg-indigo-700">
            Estimate
        </button>
    </div>
</form>