{% extends "layout.html" %} {% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}">
    </head>

    <div class="flex items-center mx-auto max-w-6xl" style="height: 80vh">
    <body>
    <div class="container-sm fadeInDown" id="login-form">
        <form method="post" >
            <h1>Login</h1>
            <button type="button" id="go-back-btn"><a href="/"><i class="fa fa-arrow-left"></i></a></button>
            <div class="form-group">
                <!-- php code in value='' means echo user's inputted username
                after user tries to log in but with wrong login credentials -->
                <input type="text" id="username" name="username" class="form-control fadeIn first" placeholder="Enter username" value="" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control fadeIn second" placeholder="Enter password" required>
            </div>
            <input type="submit" name="login" class="btn fadeIn third" id="log-in-btn" value="Log In">

            <!-- reset login button for debug -->
            <!-- <input type="submit" name="reset-login" value="reset login"> -->
        </form>

    </div>
    </body>
    </div>
{% endblock %}