{% extends "layout.html" %} {% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-up-style.css') }}">
    </head>
    <div class="flex items-center mx-auto max-w-6xl" style="height: 80vh">


        <body>
        <div class="container-sm fadeInDown" id="signup-form">
            <form id="customer-signup">
                <h1>Sign Up</h1>
                <button type="button" ><a href="/"><i class="fa fa-arrow-left"></i></a></button>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" name="first_name" id="first_name" class="form-control fadeIn first" placeholder="Enter your first name" value="" pattern="^[A-Za-z]+$" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" name="last_name" id="last_name" class="form-control fadeIn first" placeholder="Enter your last name" value="" pattern="^[A-Za-z]+$" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <!-- <label for="firstName">Email</label> -->
                        <input type="email" name="email" id="email" class="form-control fadeIn second" placeholder="Enter your email" value="" pattern="^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <!-- <label for="lastName">Phone number</label> -->
                        <input type="phone_number" name="phone" id="phone" class="form-control fadeIn second" placeholder="Enter your phone number" value="" pattern="^[0-9\-\(\)\/\+\s]*$" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="username" name="username" id="username" class="form-control fadeIn second" placeholder="Enter username" value="" required>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control fadeIn third" id="password" name="password" placeholder="Enter password" required>
                </div>

                <input type="submit" name="signup" class="btn fadeIn third" id="sign-up-btn" value="Sign Up">
            </form>

    </div>
    </body>
    </div>
{% endblock %}